@model IEnumerable<TimeSheetManagement.ViewModels.DisplayTimeSheet>
@{
    ViewData["Title"] = "ShowTimeSheet";
    Layout = "~/Views/Layouts/_IndLayout.cshtml";
}

    <div class="col-md-12">
        @if (@ViewBag.ProjectManagerId != null)
        {
            @using (Html.BeginForm("SubmitTimeSheetToManager", "User", new { id = @ViewBag.ProjectManagerId, id2 = @ViewBag.projectId }))
            {
                <input type="submit" style="margin-bottom:5px" class="btn btn-outline-dark float-right" value="Submit Timesheet" />
            }

        }
    </div>
<div class="col-md-12">
    <!-- Area Chart -->
    <div class="">
        <div class="card shadow mb-4 border-left-primary shadow h-100 py-2">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Show Timesheet</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>Task</th>
                                    <th>Task Type</th>
                                    <th>Hours Spent</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Date</td>
                                        <td>@item.Task</td>
                                        <td>@item.TaskType</td>
                                        <td>@item.HoursSpent</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a style="float:right" asp-action="EditTimeSheet" class="btn btn-primary" asp-route-id="@item.TimeSheetId">Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
